.management {
    display: flex;
    justify-content:center;
    align-items: flex-start;
    margin: 80px 0px;
}

.keyPoint{
   display: flex;
   flex-direction: column;
    width: 34%; 
    text-align: center;
    text-align: left;
    padding-left: 60px;
}
.keyPoint h2{
    color: #4F5955;
    font-weight: 700;
}
.keyPoint img{
    width: 350px;
    height: auto;
    color: #4F5955;
    font-weight: 700;
    
}
.keyPoint p{
    width: 350px;
    height: auto;
    color: #4F5955;
    padding-top: 20px;
}
.formAboutUs {
    width: 66%; 
    text-align: center; 
    padding-left: 40px;
    border-left: 1px solid rgb(216, 216, 216);
}


.formAboutUs h1{
    text-align: left;
    color: #4F5955;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 40px;
    
}
.formAboutUs p{
    text-align: left;
    color: #4F5955;
    padding-left: 20px;
    padding-top: 40px;
    
}
.formAboutUs li{
    text-align: left;
    color: #4F5955;
    padding-left: 5px;
    padding-top: 20px;
}
.formAboutUs img{
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-left: 20px;
}
